<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131802422324-31uvjeea2gls74ha39n2t8oun1kchbrm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131802422324-31uvjeea2gls74ha39n2t8oun1kchbrm</string>
	<key>API_KEY</key>
	<string>AIzaSyBOO1xrhK50mpwDeuEh3-p7PA8WvtCaJtE</string>
	<key>GCM_SENDER_ID</key>
	<string>131802422324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>notice.mobile.app</string>
	<key>PROJECT_ID</key>
	<string>tutorial-aa29d</string>
	<key>STORAGE_BUCKET</key>
	<string>tutorial-aa29d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131802422324:ios:499fa8551d19110375fe61</string>
	<key>DATABASE_URL</key>
	<string>https://tutorial-aa29d-default-rtdb.firebaseio.com</string>
</dict>
</plist>